body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .blocks {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
body .block {
  --sz: 8vmin;
  --tX: 0;
  --animation: 700ms cubic-bezier(0.3, 0.5, 0.4, 0.9) infinite
    alternate-reverse;
  --hm: 4.5vmin;
  height: var(--sz);
  width: var(--sz);
  background-image: var(--bg);
  border-radius: 50%;
  transform: translateX(var(--tX));
  mix-blend-mode: lighten;
}
body .purle {
  --bg: linear-gradient(-50deg, #b698db 0%, #9356dc 100%);
  margin-right: var(--hm);
  animation: attract-purle var(--animation);
}
body .pink {
  --bg: linear-gradient(50deg, #f8b2e4 0%, #ff79da 100%);
  margin-left: var(--hm);
  animation: attract-pink var(--animation);
}
@keyframes attract-purle {
  to {
    transform: translateX(calc(var(--sz) + var(--hm) / 4));
  }
}
@keyframes attract-pink {
  to {
    transform: translateX(calc(var(--sz) * -1 - var(--hm) / 4));
  }
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h4,
h5 {
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

.entete {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  padding: 2% 0 15% 0;
  background-color: #f8f6f6;
}
.entete .logo_header {
  padding: 3%;
}
.entete .logo_header img {
  width: 50%;
  height: auto;
}
.entete .navigation {
  width: 100%;
}
.entete .navigation .localisation {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: #ede8e8;
  padding: 4% 0;
  box-shadow: inset 0 1px 10px #9e9a9a;
}
.entete .navigation .localisation .icone {
  margin-right: 2%;
}
.entete .navigation .explorer .texte_explorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.entete .navigation .explorer .texte_explorer h1 {
  font-size: 150%;
  font-weight: 600;
  padding: 0 15%;
}
.entete .navigation .explorer .texte_explorer p {
  padding: 0 5% 10% 5%;
}
.entete .navigation .explorer a {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  padding: 3%;
  border-radius: 30px;
  color: white;
  box-shadow: 4px 7px 10px 0px #9e9a9a;
}
.entete .navigation .explorer a:hover {
  box-shadow: 4px 8px 15px 0px #575555;
}

header {
  width: 100%;
  background-color: #f8f6f6;
}
header img {
  width: 100%;
}

.elements_header {
  display: flex;
  width: auto;
  padding: 5%;
  align-items: center;
  justify-content: space-around;
}
.elements_header .element_header {
  padding-right: 3%;
}
.elements_header .element_header a i {
  font-size: 150%;
}
.elements_header .logo_header {
  padding: 2% 0 0 16%;
}
.elements_header .logo_header img {
  width: 65%;
  height: auto;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 7% 0;
}
nav h1 {
  text-align: start;
  margin-left: 5%;
  font-size: 150%;
  margin-bottom: 7%;
}
nav div.buttons_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav div.buttons_nav .button_nav {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 3%;
}
nav div.buttons_nav .button_nav :hover {
  background-color: #e4d5f6;
}
nav div.buttons_nav .button_nav :hover i {
  color: #9356dc;
}
nav div.buttons_nav .button_nav p {
  position: absolute;
  margin-left: 4%;
  color: white;
  background-color: #9356dc;
  padding: 1% 2%;
  border-radius: 30px;
}
nav div.buttons_nav button {
  font-family: "Roboto";
  width: 100%;
  padding: 7% 0;
  margin: 0 6%;
  border-radius: 25px;
  text-align: start;
  background-color: #f8f6f6;
  font-weight: bold;
  border: none;
  box-shadow: 4px 7px 10px 0px #9e9a9a;
}
nav div.buttons_nav button:hover {
  box-shadow: 4px 8px 15px 0px #575555;
}
nav div.buttons_nav button i {
  font-size: 120%;
  padding: 0 10% 0 15%;
  color: #9e9a9a;
}

main {
  width: 100%;
  margin-top: -20%;
}

section.home {
  width: 100%;
  background-color: #f8f6f6;
  padding: 7% 0;
}
section.home h1 {
  text-align: start;
  margin-left: 5%;
  font-size: 150%;
  margin-bottom: 7%;
}

section.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 40px 40px 0 0;
  background-color: #f8f6f6;
}
section.menu .menus_title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 1px;
}
section.menu .menus_title .button_heart {
  position: relative;
  font-size: 140%;
}
section.menu .menus_title .button_heart i.far.fa-heart.empty {
  position: absolute;
  top: -5px;
  right: 1px;
  color: #9e9a9a;
}
section.menu .menus_title .button_heart i.far.fa-heart.empty:hover {
  opacity: 0%;
}
section.menu .menus_title .button_heart i.fas.fa-heart.full {
  position: absolute;
  top: -5px;
  right: 1px;
  opacity: 0%;
  background: -webkit-linear-gradient(top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
}
section.menu .menus_title .button_heart i.fas.fa-heart.full:hover {
  opacity: 100%;
}
section.menu .menus_title .menu_title {
  font-family: "Shrikhand";
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
}
section.menu .menus_title .menu_title h3 {
  font-size: 170%;
}
section.menu .pastille_all {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5% 0;
}
section.menu .pastille_all .pastille_title {
  width: 10%;
  color: #787373;
  border-bottom: 3px solid #99e2d0;
  margin: 0 0 2% 5%;
  padding-bottom: 1%;
}
section.menu .pastille_all .pastille {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  margin: 2% 5%;
  background-color: white;
  border-radius: 15px;
  box-shadow: 4px 7px 10px 0px #9e9a9a;
}
section.menu .pastille_all .pastille:hover {
  box-shadow: 4px 8px 15px 0px #575555;
}
section.menu .pastille_all .pastille h5 {
  font-size: 105%;
  margin-bottom: 1%;
}
section.menu .pastille_all .pastille label {
  width: 100%;
}
section.menu .pastille_all .pastille input {
  display: none;
}
section.menu .pastille_all .pastille .description_plat {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.menu .commander {
  display: flex;
  width: auto;
  justify-content: center;
  margin-bottom: 5%;
}
section.menu .commander input {
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  padding: 3%;
  border-radius: 30px;
  color: white;
  box-shadow: 4px 7px 10px 0px #9e9a9a;
  border: none;
}
section.menu .commander input:hover {
  box-shadow: 4px 8px 15px 0px #575555;
}

.restaurants {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.restaurants .restaurant figure {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border-radius: 15px;
  margin: 3%;
  box-shadow: 4px 7px 10px 0px #9e9a9a;
}
.restaurants .restaurant figure:hover {
  box-shadow: 4px 8px 15px 0px #575555;
}
.restaurants .restaurant figure .restaurants_elements {
  position: relative;
}
.restaurants .restaurant figure h2 {
  margin: 0;
}
.restaurants .restaurant figure .new {
  display: inline;
  position: absolute;
  background-color: #99e2d0;
  color: #1b6150;
  right: 3%;
  top: 3%;
  padding: 2%;
}
.restaurants .restaurant figure .restaurant_text {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5%;
}
.restaurants .restaurant figure .restaurant_text .button_heart {
  position: relative;
  font-size: 140%;
}
.restaurants .restaurant figure .restaurant_text .button_heart i.far.fa-heart.empty {
  position: absolute;
  top: 2px;
  right: 2px;
  color: #9e9a9a;
}
.restaurants .restaurant figure .restaurant_text .button_heart i.far.fa-heart.empty:hover {
  opacity: 0%;
}
.restaurants .restaurant figure .restaurant_text .button_heart i.fas.fa-heart.full {
  position: absolute;
  top: 2px;
  right: 2px;
  opacity: 0%;
  background: -webkit-linear-gradient(top, #9356dc, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
}
.restaurants .restaurant figure .restaurant_text .button_heart i.fas.fa-heart.full:hover {
  opacity: 100%;
}
.restaurants .restaurant figure img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

footer {
  width: 100%;
  height: auto;
  background-color: #272626;
}
footer .logo_footer {
  font-family: "Shrikhand";
  color: white;
  font-size: 110%;
  padding: 8% 5% 0% 10%;
}
footer li {
  padding: 1% 0;
}
footer li i {
  padding-right: 2%;
}
footer li i.fa-handshake-angle {
  font-size: 70%;
}
footer li a {
  color: white;
}

@media only screen and (min-width: 899px) {
  .entete {
    padding-bottom: 5%;
  }
  .entete .logo_header {
    padding: 1%;
  }
  .entete .logo_header img {
    width: 100%;
  }
  .entete .navigation .localisation {
    padding: 2%;
    font-size: 120%;
  }
  .entete .navigation .explorer .texte_explorer {
    padding-top: 2%;
  }
  .entete .navigation .explorer .texte_explorer p {
    padding-bottom: 5%;
  }
  .entete .navigation .explorer .bouton_explorer a {
    padding: 1em;
  }

  body {
    max-width: 1440px;
    margin: auto;
  }

  nav h1 {
    margin: 0 0 3% 3%;
    font-size: 200%;
  }
  nav div.buttons_nav {
    flex-direction: row;
  }
  nav div.buttons_nav .button_nav {
    width: 40%;
  }
  nav div.buttons_nav .button_nav p {
    position: absolute;
    margin-left: -1px;
    color: white;
    background-color: #9356dc;
    padding: 10px 15px;
    border-radius: 20px;
  }
  nav div.buttons_nav .button_nav .button {
    width: 20%;
  }

  section.home {
    padding: 4% 0;
  }
  section.home div.restaurants_title h1 {
    margin-left: 5%;
    margin-bottom: 3%;
    font-size: 200%;
  }
  section.home div.restaurants {
    width: auto;
    padding: 0 5%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  section.home div.restaurant {
    width: 50%;
  }
  section.home div.restaurant div.new {
    padding: 1%;
    margin: 1% 1% 0 47%;
  }

  footer .logo_footer {
    padding: 5% 5% 0 40px;
    font-size: 150%;
  }
  footer .nav_foot ul li i {
    padding-right: 1%;
  }

  header .elements_header {
    padding: 2%;
    justify-content: flex-start;
  }
  header .elements_header .logo_header {
    margin-left: 20%;
  }

  section.menu .menus_title {
    justify-content: space-between;
    padding: 0 4%;
  }
  section.menu .menus_title .menu_title {
    font-size: 120%;
  }
  section.menu form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  section.menu form .pastille_all {
    width: 33%;
  }
  section.menu .commander input {
    padding: 20%;
    font-size: 130%;
  }
}

/*# sourceMappingURL=styles.css.map */
