@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

body {
  width: 100%;
  max-width: 1440px;
  height: auto;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

.load_screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;

  animation-duration: 3s;
  animation-name: appear_loadscreen;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @keyframes appear_loadscreen {
    0% {
      z-index: 1000;
    }
    80% {
      opacity: 1;
    }
    100% {
      z-index: -1;
      opacity: 0;
    }
  }

  .loader {
    width: 100px;
    height: 100px;
    border: 7px solid $first-color;
    border-bottom-color: $second-color;
    border-radius: 50%;
    animation: rotation 1000ms linear infinite;

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

.site {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h4,
h5 {
  margin: 0;
}



button {
  background-color: transparent;
  border: none;
}

.entete {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  background-color: $background-light;

  .logo_header {
    width: 100%;
    position: relative;
    
    

    img {
      width: 50%;
      max-width: 400px;
      height: auto;
      padding: 4% 0% 2% 0%;
    }
  }

  .navigation {
    width: 100%;
    .localisation {
      display: flex;
      justify-content: center;
      align-self: center;
      background-color: darken($color: $background-light, $amount: 5%);
      padding: 4% 0;
      box-shadow: inset 0px 10px 8px -8px $grey-color;

      .icone {
        margin-right: 2%;
      }
    }

    .explorer {
      .texte_explorer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        h1 {
          font-size: 150%;
          font-weight: 600;
          padding: 0 15%;
        }
        p {
          padding: 0 5% 10% 5%;
        }
      }

      a {
        @include button;
      }
    }
  }
}

header {
  width: 100%;
  background-color: $background-light;

  img {
    width: 100%;
  }
}

.elements_header {
  display: flex;
  width: auto;
  padding: 5%;
  align-items: center;
  justify-content: space-around;

  .element_header {
    padding-right: 3%;

    a {
      i {
        font-size: 150%;
      }
    }
  }

  .logo_header {
    padding: 2% 0 0 16%;

    img {
      width: 65%;
      height: auto;
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 7% 0;

  h1 {
    @include titles;
  }

  div.buttons_nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button_nav {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 3%;

      :hover {
        background-color: lighten($first-color, 30%);

        i {
          color: $first-color;
        }
      }

      p {
        position: absolute;
        margin-left: 4%;
        color: white;
        background-color: $first-color;
        padding: 1% 2%;
        border-radius: 30px;
      }
    }

    button {
      font-family: "Roboto";
      width: 100%;
      padding: 7% 0;
      margin: 0 6%;
      border-radius: 25px;
      text-align: start;
      background-color: $background-light;
      font-weight: bold;
      border: none;
      @include shadow;

      i {
        font-size: 120%;
        padding: 0 10% 0 15%;
        color: $grey-color;
      }
    }
  }
}

main {
  width: 100%;
  position: relative;
  margin-top: -20%;
}

section.home {
  width: 100%;
  background-color: $background-light;
  padding: 7% 0;

  h1 {
    @include titles;
  }
}

section.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 40px 40px 0 0;
  background-color: $background-light;

  .menus_title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 1px;

    .button_heart {
      position: relative;
      font-size: 140%;

      i.far.fa-heart.empty {
        position: absolute;
        top: -5px;
        right: 1px;
        color: $grey-color;
        &:hover {
          opacity: 0%;
        }
      }

      i.fas.fa-heart.full {
        position: absolute;
        top: -5px;
        right: 1px;
        opacity: 0%;
        background: -webkit-linear-gradient(top, $first-color, $second-color);
        -webkit-background-clip: text;
        color: transparent;
        transition: 0.2s;
        &:hover {
          opacity: 100%;
        }
      }
    }

    .menu_title {
      font-family: "Shrikhand";
      display: flex;
      justify-content: space-between;
      padding-right: 10%;

      h3 {
        font-size: 170%;
      }
    }
  }

  .pastille_all {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 0;

    .pastille_title {
      width: 10%;
      color: darken($grey-color, 15%);
      border-bottom: 3px solid $third-color;
      margin: 0 0 2% 5%;
      padding-bottom: 1%;
    }

    .pastille {
      display: flex;
      position: relative;
      overflow: hidden;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      height: 100px;
      margin: 2% 5%;
      background-color: white;
      border-radius: 15px;
      opacity: 0%;
      @include shadow;
      &.pastille {
        animation: pastille 2s forwards;
      }
      @keyframes pastille {
        0% {
          opacity: 0%;
          transform: translateY(20px);
        }
        100% {
          opacity: 100%;
          transform: translateY(0px);
        }
      }


      label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      input {
        display: none;
      }

      .description_food {
        width: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 3%;
        overflow: hidden;
        white-space: nowrap;
        

        .name_food {
          font-size: 120%;
          font-weight: 700;
          padding-bottom: 2%;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .elements_food {
          font-size: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        
      }

      .price {
        display: flex;
        width: 10%;
        align-items: flex-end;
        justify-content: center;
        font-size: 110%;
        font-weight: 700;
        margin-left: 1%;
        padding: 3%;
        transform: translateX(0%);
        transition-duration: 300ms;
      }

      .check {
        display: flex;
        position: absolute;
        color: white;
        align-items: center;
        justify-content: center;
        border-radius: 0 15px 15px 0;
        font-size: 200%;
        right: 0px;
        width: 100px;
        height: 100%;
        background-color: $third-color;
        transform: translateX(100%);
        transition-duration: 300ms;

        i {
          transform: rotate(0deg);
          transition-duration: 400ms;
        }
      }

      &:hover {
        .price {
          padding-right: 102px;
        }
        .check {
          transform: translateX(0%);
        }

        i {
          transform: rotate(360deg);
        }
      }
    }
    .pastille:nth-child(3) {
      animation-delay: 0.2s;
    }

    .pastille:nth-child(4) {
      animation-delay: 0.4s;
    }

    .pastille:nth-child(5) {
      animation-delay: 0.6s;
    }
  }

  .commander {
    display: flex;
    width: auto;
    justify-content: center;
    margin-bottom: 5%;

    input {
      @include button;
      border: none;
    }
  }
}
.restaurants {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .restaurant figure {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 15px;
    margin: 3%;
    @include shadow;

    .restaurants_elements {
      position: relative;
    }

    h2 {
      margin: 0;
    }

    .new {
      display: inline;
      position: absolute;
      background-color: $third-color;
      color: darken($color: $third-color, $amount: 50%);
      right: 3%;
      top: 3%;
      padding: 2%;
    }

    .restaurant_text {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3% 5%;

      h2 {
        font-size: 120%;
        margin-bottom: 1%;
      }

      .button_heart {
        position: relative;
        font-size: 140%;

        i.far.fa-heart.empty {
          position: absolute;
          bottom: -12px;
          right: 2px;
          color: $grey-color;
          &:hover {
            opacity: 0%;
          }
        }

        i.fas.fa-heart.full {
          position: absolute;
          bottom: -12px;
          right: 2px;
          opacity: 0%;
          background: -webkit-linear-gradient(top, $first-color, $second-color);
          -webkit-background-clip: text;
          color: transparent;
          transition: 0.2s;
          &:hover {
            opacity: 100%;
          }
        }
      }
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 15px 15px 0 0;
    }
  }
}

footer {
  width: 100%;
  height: auto;
  background-color: rgb(39, 38, 38);

  .logo_footer {
    font-family: "Shrikhand";
    color: white;
    font-size: 115%;
    padding: 5% 5% 0% 8%;
  }

  ul {
    margin-bottom: 0;
    padding: 0% 0% 3% 8%;
    }

  li {
    padding: 1% 0;
    i {
      padding-right: 2%;
    }
    i.fa-handshake-angle {
      font-size: 70%;
    }
    a {
      color: white;
    }
  }
}

// Version desktop //

@media only screen and (min-width: 899px) {
  .entete {
    padding-bottom: 5%;

    .logo_header {
      img {
        padding: 2% 0% 2% 0%;
      }
    }

    .navigation {
      .localisation {
        padding: 2%;
        font-size: 120%;
      }

      .explorer {
        .texte_explorer {
          padding-top: 2%;
          p {
            padding-bottom: 5%;
          }
        }

        .bouton_explorer {
          a {
            padding: 1em;
          }
        }
      }
    }
  }
  body {
    max-width: 1440px;
    margin: auto;
  }

  nav {
    h1 {
      margin: 0 0 3% 3%;
      font-size: 200%;
    }

    div.buttons_nav {
      flex-direction: row;

      .button_nav {
        width: 40%;

        p {
          position: absolute;
          margin-left: -1px;
          color: white;
          background-color: $first-color;
          padding: 10px 15px;
          border-radius: 20px;
        }

        .button {
          width: 20%;
        }
      }
    }
  }

  section.home {
    padding: 4% 0;

    div.restaurants_title {
      h1 {
        margin-left: 5%;
        margin-bottom: 3%;
        font-size: 200%;
      }
    }

    div.restaurants {
      width: auto;
      padding: 0 5%;
      flex-direction: row;
      flex-wrap: wrap;
    }

    div.restaurant {
      width: 50%;
      div.new {
        padding: 1%;
        margin: 1% 1% 0 47%;
      }
    }
  }

  footer {
    .logo_footer {
      padding: 5% 5% 2% 8%;
      font-size: 200%;
    }

    .nav_foot {
      ul {
        li {
          font-size: 120%;
          i {
            padding-right: 1%;
          }
        }
      }
    }
  }

  header {
    .elements_header {
      padding: 2%;
      justify-content: flex-start;

      .logo_header {
        margin-left: 20%;
      }
    }
  }

  section.menu {
    .menus_title {
      justify-content: space-between;
      padding: 0 4%;

      .menu_title {
        font-size: 120%;
      }
    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .pastille_all {
        width: 33%;
      }
    }

    .commander {
      input {
        padding: 20%;
        font-size: 130%;
      }
    }
  }
}
