@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layout/header";
@import "./layout/nav";
@import "./layout/container";
@import "./layout/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h4,
h5 {
  margin: 0;
}

.entete {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  padding: 2% 0 15% 0;
  background-color: $background-light;
  

  .logo_header {
    padding: 3%;
    

    img {
      width: 50%;
      height: auto;
      
    }
  }

  .navigation {
    
    .localisation {
      display: flex;
      justify-content: center;
      align-self: center;
      background-color: darken($color: $background-light, $amount: 5%);
      padding: 4% 0;
      box-shadow: inset 0 1px 10px $grey-color;
      
      

      .icone {
        margin-right: 2%;
      }
    }

    .explorer {
      .texte_explorer {
        display: flex;
        flex-direction: column;
        justify-content: center;
      align-self: center;
        h1 {
          font-size: 150%;
          font-weight: 600;
          padding: 0 15%;
        }
        p {
          padding: 0 5% 10% 5%;
        }
      }

      a {
        @include button;
      }
    }
  }
}

header {
  background-color: $background-light;
  

  img {
    width: 100%;
  }
}

.elements_header {
  display: flex;
  width: auto;
  padding: 5%;
  align-items: center;
  justify-content: space-around;

  .element_header {
    padding-right: 3%;

    a {
      i {
        font-size: 150%;
      }
    }
  }

  .logo_header {
    padding: 2% 0 0 16%;

    img {
      width: 65%;
      height: auto;
    }
  }
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 7% 0;

  h1 {
    @include titles;
  }

  div.buttons_nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    .button_nav {
      display: flex;
      width: 100%;
      align-items: center;
      margin-bottom: 3%;

      :hover {
        background-color: lighten($first-color, 30%);

        i {
          color: $first-color;
        }
      }

      p {
        position: absolute;
        margin-left: 4%;
        color: white;
        background-color: $first-color;
        padding: 1% 2%;
        border-radius: 30px;
      }
    }

    button {
      font-family: "Roboto";
      width: 100%;
      padding: 7% 0;
      margin: 0 6%;
      border-radius: 25px;
      text-align: start;
      background-color: $background-light;
      font-weight: bold;
      border: none;
      @include shadow;

      i {
        font-size: 120%;
        padding: 0 10% 0 15%;
        color: $grey-color;
      }
    }
  }
}

main {
  width: 100%;

  margin-top: -20%;
}

section.home {
  width: 100%;
  background-color: $background-light;
  padding: 7% 0;

  h1 {
    @include titles;
  }
}

section.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-radius: 40px 40px 0 0;
  background-color: $background-light;

  .menus_title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    letter-spacing: 1px;

    .menu_title {
      font-family: "Shrikhand";
      display: flex;
      justify-content: space-between;
      padding-right: 10%;

      h3 {
        font-size: 170%;
      }
    }
  }

  .pastille_all {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5% 0;

    .pastille_title {
      width: 10%;
      color: darken($grey-color, 15%);
      border-bottom: 3px solid $third-color;
      margin: 0 0 2% 5%;
      padding-bottom: 1%;
    }

    .pastille {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5%;
      margin: 2% 5%;
      background-color: white;
      border-radius: 15px;
      @include shadow;
      h5 {
        font-size: 105%;
        margin-bottom: 1%;
      }

      label {
        width: 100%;
      }

      input {
        display: none;
      }

      .description_plat {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .commander {
    display: flex;
    width: auto;
    justify-content: center;
    margin-bottom: 5%;

    input {
      @include button;
      border: none;
    }
  }
}
.restaurants {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .restaurant figure {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    border-radius: 15px;
    margin: 3%;
    @include shadow;

    .restaurants_elements {
      position: relative;
    }

    h2 {
      margin: 0;
    }

    .new {
      display: inline;
      position: absolute;
      background-color: $third-color;
      color: darken($color: $third-color, $amount: 50%);
      right: 3%;
      top: 3%;
      padding: 2%;
    }

    .restaurant_text {
      margin: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2% 5%;
    }

    img {
      width: 100%;
      height: 200px;
      object-fit: cover;
      overflow: hidden;
      border-radius: 15px 15px 0 0;
    }
  }
}

footer {
  width: 100%;
  height: auto;
  background-color: rgb(39, 38, 38);

  .logo_footer {
    font-family: "Shrikhand";
    color: white;
    font-size: 110%;
    padding: 8% 5% 0% 10%;
  }

  li {
    padding: 1% 0;
    i {
      padding-right: 2%;
    }
    i.fa-handshake-angle {
      font-size: 70%;
    }
    a {
      color: white;
    }
  }
}

// Version desktop //

@media only screen and (min-width: 899px) {

  body {
    max-width: 1440px;
    margin: auto;
    
  }

  header {
    width: 100%;
  }

  .entete {
    padding-bottom: 5%;

    .logo_header {
      padding: 1%;

      img {
        width: 100%;
      }
    }

    .navigation {
      width: 100%;
  
      .localisation {
        padding: 2%;
        font-size: 120%;
      }

      .explorer {
        .texte_explorer {
          padding-top: 2%;
          p {
            padding-bottom: 5%;
          }
        }

        .bouton_explorer {
          a {
            padding: 1em;
          }
        }
      }
    }  
  }

  nav {

    h1 {
      margin: 0 0 3% 3%;
      font-size: 200%;
    }

    div.buttons_nav {
      flex-direction: row;

      .button_nav {
        width: 40%;

        p {
          position: absolute;
          margin-left: -1px;
          color: white;
          background-color: $first-color;
          padding: 10px 15px;
          border-radius: 20px;
        }
        
        .button {
          width: 20%;
        }
      }
    }
  }

  section.home {

    padding: 4% 0;

    div.restaurants_title {
      h1 {
        margin-left: 5%;
        margin-bottom: 3%;
        font-size: 200%;
      }
    }

    div.restaurants {
      width: auto;
      padding: 0 5%;
      flex-direction: row;
      flex-wrap: wrap;

    }

    div.restaurant {
      width: 50%;
      div.new {
        padding: 1%;
        margin: 1% 1% 0 47%;
      }
    }
  }

  footer {
    .logo_footer {
      padding: 5% 5% 0 40px;
      font-size: 150%;
    }

    .nav_foot {
      ul {
        li {
          i {
            padding-right: 1%;
          }
        }
      }
    }
  }

  header {
    .elements_header {
      padding: 2%;
      justify-content: flex-start;

      .logo_header {
        margin-left: 20%;
      }
      
    }
  }

  section.menu {

    .menus_title {
      justify-content: space-between;
      padding: 0 4%;

      .menu_title {
        font-size: 120%;
      }

    }

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      

      .pastille_all {
        width: 33%;
      }
    }

    .commander {
      input {
        padding: 20%;
        font-size: 130%;
      }      

    }

  }

  
}