@mixin titles {
  text-align: start;
  margin-left: 5%;
  font-size: 150%;
  margin-bottom: 7%;
}

@mixin shadow {
  box-shadow: 4px 7px 10px 0px $grey-color;
  &:hover {
    box-shadow: 4px 8px 15px 0px #575555;
  }
}

@mixin button {
  background: linear-gradient(to bottom right, $second-color, $first-color);
  padding: 20px;
  border-radius: 30px;
  color: white;
  @include shadow;
}
